.md-grid {
    max-width: none;
}

:root {
    --md-admonition-icon--chatgpt: url('data:image/svg+xml;charset=utf-8,<svg width="2500" height="2500" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" class="h-6 w-6" viewBox="-0.17090198558635983 0.482230148717937 41.14235318283891 40.0339509076386"><text x="-9999" y="-9999">ChatGPT</text><path d="M37.532 16.87a9.963 9.963 0 0 0-.856-8.184 10.078 10.078 0 0 0-10.855-4.835A9.964 9.964 0 0 0 18.306.5a10.079 10.079 0 0 0-9.614 6.977 9.967 9.967 0 0 0-6.664 4.834 10.08 10.08 0 0 0 1.24 11.817 9.965 9.965 0 0 0 .856 8.185 10.079 10.079 0 0 0 10.855 4.835 9.965 9.965 0 0 0 7.516 3.35 10.078 10.078 0 0 0 9.617-6.981 9.967 9.967 0 0 0 6.663-4.834 10.079 10.079 0 0 0-1.243-11.813zM22.498 37.886a7.474 7.474 0 0 1-4.799-1.735c.061-.033.168-.091.237-.134l7.964-4.6a1.294 1.294 0 0 0 .655-1.134V19.054l3.366 1.944a.12.12 0 0 1 .066.092v9.299a7.505 7.505 0 0 1-7.49 7.496zM6.392 31.006a7.471 7.471 0 0 1-.894-5.023c.06.036.162.099.237.141l7.964 4.6a1.297 1.297 0 0 0 1.308 0l9.724-5.614v3.888a.12.12 0 0 1-.048.103l-8.051 4.649a7.504 7.504 0 0 1-10.24-2.744zM4.297 13.62A7.469 7.469 0 0 1 8.2 10.333c0 .068-.004.19-.004.274v9.201a1.294 1.294 0 0 0 .654 1.132l9.723 5.614-3.366 1.944a.12.12 0 0 1-.114.01L7.04 23.856a7.504 7.504 0 0 1-2.743-10.237zm27.658 6.437l-9.724-5.615 3.367-1.943a.121.121 0 0 1 .113-.01l8.052 4.648a7.498 7.498 0 0 1-1.158 13.528v-9.476a1.293 1.293 0 0 0-.65-1.132zm3.35-5.043c-.059-.037-.162-.099-.236-.141l-7.965-4.6a1.298 1.298 0 0 0-1.308 0l-9.723 5.614v-3.888a.12.12 0 0 1 .048-.103l8.05-4.645a7.497 7.497 0 0 1 11.135 7.763zm-21.063 6.929l-3.367-1.944a.12.12 0 0 1-.065-.092v-9.299a7.497 7.497 0 0 1 12.293-5.756 6.94 6.94 0 0 0-.236.134l-7.965 4.6a1.294 1.294 0 0 0-.654 1.132l-.006 11.225zm1.829-3.943l4.33-2.501 4.332 2.5v5l-4.331 2.5-4.331-2.5V18z" fill="currentColor"/></svg>')
}
.md-typeset .admonition.chatgpt,
.md-typeset details.chatgpt {
border-color: rgb(43, 155, 70);
}
.md-typeset .chatgpt > .admonition-title,
.md-typeset .chatgpt > summary {
background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .chatgpt > .admonition-title::before,
.md-typeset .chatgpt > summary::before {
background-color: rgb(43, 155, 70);
-webkit-mask-image: var(--md-admonition-icon--chatgpt);
        mask-image: var(--md-admonition-icon--chatgpt);
}

.poem {
    font-family: "Georgia", "Times New Roman", serif;  /* Classic, readable font */
    font-size: 1.2em;  /* Slightly larger font for readability */
    text-align: center;  /* Center justify the text */
    white-space: pre-line;  /* Preserve line breaks */
    max-width: 600px;  /* Limit the width to avoid stretching on large screens */

}

.poem-text {
    line-height: 1.6;  /* Space between lines for better readability */
    margin: 20px auto;  /* Add some space around the div */
    padding: 10px;  /* Padding inside the div */
    border: 1px solid #ccc;  /* Optional border for styling */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  /* Subtle shadow for depth */
}

.external::after {
    content: '';
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin: 0 0.15em 0 0.25em;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="0.75em" height="1em" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M11 10h1v3c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3v1H1v10h10v-3zM6 2l2.25 2.25L5 7.5L6.5 9l3.25-3.25L12 8V2H6z" fill="%234027FF"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}

[data-md-color-scheme="custom-light"] img[src$="#only-dark"]
[data-md-color-scheme="custom-light"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

[data-md-color-scheme="custom-dark"] img[src$="#only-light"],
[data-md-color-scheme="custom-dark"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide light images in dark mode */
}

body {
    --md-header-font-family:
      var(--md-header-font, _),
      -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

}

h2 {
    font-family: var(--md-header-font-family);
    font-feature-settings: "kern", "liga";
    color: var(--md-typeset-color);
}

.md-typeset h2,h3,h4,h5,h6 {
    color: var(--md-primary-fg-color);
}

.md-typeset h5 {
    color: var(--md-primary-fg-color);
}
